name: Spotify Wrapped Automation

on:
  workflow_dispatch:  # Permite ejecutarlo manualmente
  schedule:
    - cron: '0 * * * *'  # Ejecuta cada hora (aj칰stalo si es necesario)

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Create Google Credentials file
        run: echo "${{ secrets.GOOGLE_CREDENTIALS }}" | base64 --decode > spotify-wrapped-personal-476133760b00.json

      - name: Check if JSON file exists
        run: ls -l spotify-wrapped-personal-476133760b00.json

      # 游릭 Guardar las 칰ltimas canciones reproducidas en Sheet1
      - name: Run Spotify data script
        run: python save_to_sheets.py
        env:
          SPOTIPY_CLIENT_ID: ${{ secrets.SPOTIPY_CLIENT_ID }}
          SPOTIPY_CLIENT_SECRET: ${{ secrets.SPOTIPY_CLIENT_SECRET }}
          SPOTIPY_REDIRECT_URI: ${{ secrets.SPOTIPY_REDIRECT_URI }}

      # 游릭 Generar el ranking de canciones m치s escuchadas (Top Songs)
      - name: Run Top Songs script
        run: python generate_top_songs.py

      # 游릭 Generar el ranking de artistas m치s escuchados (Top Artists)
      - name: Run Top Artists script
        run: python generate_top_artists.py
